{%  extends "@AnnoncesMain/n2.html.twig" %}
{% block n3 %}
    {% block navig %}
        <!-- Template menu principal -->
        {% include '@AnnoncesMain/Default/Partials/light_menu.html.twig' %}

    {% endblock navig %}
<!-- Template Niveau 3 -->
<div class="row">
    <div class="home">
        <h1 class="titre_home"> Les annonces </h1>
        <hr>
    </div>
</div>

<h2>Espace Perso</h2>

{% endblock n3 %}