{%  extends "::n1.html.twig" %}
{%  block body %}
    {% block navig %}   {% endblock navig %}
       <!-- Template niveau 2 -->
    <!--<div class="container margin-container-top">-->
    <div class="container margin-container-top">

        {%  block n3 %} {%  endblock n3 %}

    </div><!-- Fin Template Niveau 2 -->
{%  endblock body %}